model_config_list{

    config{
        name:'qr_detection_v4_tiny'
        base_path:'/models/model1'
        model_platform:'tensorflow'
    }
    config{
        name:'qr_detection_v5'
        base_path:'/models/model2'
        model_platform:'tensorflow'
    }
    config{
        name:'qr_detection_v3'
        base_path:'/models/model3'
        model_platform:'tensorflow'
    }
    config{
        name:'qr_detection_v4'
        base_path:'/models/model4'
        model_platform:'tensorflow'
    }
}
